<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SIVLERITE: Запрос №2</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="header">
        <h1>Запрос №2<br>Отчет об изменениях баланса клиентов<br></h1>
        <h3>Формат ввода:</h3>Начальное ID<br>Конечное ID<br>ГГГГ<br>ММ
    </div>
    <div class="main">
        <div class="bg-outer">
            <div class="bg-inner">
                <form action="" method="post">
                    <input type="text" placeholder="Начало" name="start_id"><br>
                    <input type="text" placeholder="Конец" name="end_id"><br>
                    <input type="text" placeholder="Месяц" name="data_month"><br>
                    <input type="text" placeholder="Год" name="data_year"><br>
                    <input type="submit" value="Отправить">
                </form>
            </div>
        </div>
        <div class="info">
            <p>Создано студентом МГТУ им. Баумана, Москва, 2021.</p>
            <p>Font: Copyright (c) 2010 by Anton Kudin. All rights reserved.</p>
        </div>
    </div>
</body>
</html>