<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SIVLERITE: Меню запросов - {{ name }}</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
    <div class="header">
        <h1>Меню запросов - {{ name }}</h1>
    </div>
    <div class="main">
        <div class="bg-outer">
            <div class="bg-inner-extended">
                <div class="list">
                    <i class="fa fa-search"></i>
                    <a href="request_1">Запрос №1:<br>Отчет об услугах за год</a>
                </div>
                <div class="list">
                    <i class="fa fa-search"></i>
                    <a href="request_2">Запрос №2:<br>Отчет об изменениях баланса клиентов</a>
                </div>
                <div class="list">
                    <i class="fa fa-search"></i>
                    <a href="request_3">Запрос №3:<br>Данные о самом молодом сотруднике за определенный промежуток времени</a>
                </div>
                <div class="list">
                    <i class="fa fa-search"></i>
                    <a href="/auth/admin/request_4">Запрос №4:<br>Данные о клиентах с нулевым изменением баланса</a>
                </div>
                <div class="list">
                    <i class="fa fa-search"></i>
                    <a href="/auth/admin/request_5">Запрос №5:<br>Данные о клиентах с нулевым изменением баланса за год</a>
                </div>
                <div class="list">
                    <i class="fa fa-search"></i>
                    <a href="/auth/admin/request_6">Запрос №6:<br>Данные о клиентах с масимальным изменением баланса за год</a>
                </div>
                <div class="list">
                    <i class="fa fa-arrow-left"></i>
                    <a href="/auth/admin">Назад в главное меню</a>
                </div>
            </div>
        </div>
        <div class="info">
            <p>Создано студентом МГТУ им. Баумана, Москва, 2021.</p>
            <p>Font: Copyright (c) 2010 by Anton Kudin. All rights reserved.</p>
        </div>
    </div>
</body>
</html>