@font-face {
	font-family: 'Bicubic';
	src: url("/static/fonts/bicubic.ttf");
}

body {
    background-image: url("/static/images/giga_background_xmas.jpg");
    background-position: top right;
    background-repeat: no-repeat;
    margin: 0;
    height: 100%;
}

i {
    /*color: #7777FF;*/
    color: #00B0D5;
}

input {
    border: 2px solid #666666;
    border-radius: 1em;
}

td {
    text-align: center;
    border: 1px solid #777777;
    width: 25%;
}

th {
    text-align: center;
}

table {
    table-layout: fixed;
}

ul {
    margin-left: -16px;
}

.bg-outer {
    background-color: #C8C8C8;
    border: 10px solid #777777;
    border-radius: 1em;
    border-left: 32px;
    border-right: 32px;
    margin-left: 32px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-top: 16px;
    width: 320px;
}

.bg-inner {
    background-color: #C8C8C8;
    border: 10px solid #777777;
    border-radius: 1em;
    border-left: 32px;
    margin-left: 32px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-top: 16px;
    width: 320px;
}

.bg-inner-extended {
    background-color: #C8C8C8;
    border: 10px solid #777777;
    border-radius: 1em;
    border-left: 32px;
    margin-left: 32px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-top: 16px;
    width: 512px;
}

.bg-inner-super-extended {
    background-color: #C8C8C8;
    border: 10px solid #777777;
    border-radius: 1em;
    border-left: 32px;
    margin-left: 32px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-top: 16px;
    width: 768px;
}

.header {
    /* color: #AAAAAA; */
    color: #00B0D5;
    font-family: 'Bicubic';
    text-align: left;
    text-shadow:
	    4px 4px 4px #111,
	    8px 8px 8px #222;
}

.info {
    position: absolute;
    bottom: 0;
}



.list {
    padding-top: 8px;
    padding-bottom: 8px;
}

.list-type-b {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: -64px;
}

.main {
    /* color: #AAAAAA; */
    color: #00B0D5;
    font-family: 'Bicubic';
    text-align: left;
    text-shadow:
	    1px 1px 1px #111,
	    2px 2px 2px #222;
}