<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SIVLERITE: Редактор услуг</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
    <div class="header">
        <h1>Добавление новой услуги</h1>
    </div>
    <div class="main">
        <div class="bg-outer">
            <div class="bg-inner">
                <div class="list">
                    <form action="" method='POST'>
                        <input type=text name="service_name" placeholder="Название">
                        <input type=text name="service_cost" placeholder="Стоимость"><br><br>
                        <input type=submit name="insert" value="Добавить">
                    </form>
                </div>
            </div>
        </div>
        <div class="info">
            <p>Создано студентом МГТУ им. Баумана, Москва, 2021.</p>
            <p>Font: Copyright (c) 2010 by Anton Kudin. All rights reserved.</p>
        </div>
    </div>
</body>
</html>