<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SIVLERITE: Главное меню - {{ name }}</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
    <div class="header">
        <h1>Главное меню - {{ name }}</h1>
    </div>
    <div class="main">
        <div class="bg-outer">
            <div class="bg-inner">
                 <div class="list">
                    <i class="fas fa-bars"></i>
                    <a href="/user">Меню запросов</a>
                </div>
                <div class="list">
                    <i class="fa fa-power-off"></i>
                    <a href="/exit">Выйти из системы</a>
                </div>
            </div>
        </div>
        <div class="info">
            <p>Создано студентом МГТУ им. Баумана, Москва, 2021.</p>
            <p>Font: Copyright (c) 2010 by Anton Kudin. All rights reserved.</p>
        </div>
    </div>
</body>
</html>