<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SIVLERITE: Ошибка доступа</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
    <div class="header">
        <h1>Ошибка: ваш уровень полномочий недостаточен для доступа к данной функции</h1>
    </div>
    <div class="main">
        <div class="bg-outer">
            <div class="bg-inner">
                <i class="fas fa-arrow-left"></i>
                <a href="/auth/admin">Вернуться в главное меню</a>
            </div>
        </div>
    </div>
</body>
</html>